In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
path = r'C:\Users\Lenovo\Documents\GitHub\FMCG-Sales-PVM-Analytics\data\schema\fact_orders.csv'
df = pd.read_csv(path,sep=';',quotechar='"')

In [4]:
df

,order_id,unique_order_no,order_date,ship_date,ship_mode,sales,quantity,profit,Pack,return_id,product_id,customer_id,order_key,ship_key,location_id
0,1,CA-2019-100041,2019-11-20,2019-11-25,Standard Class,4.910,1,2.3077,Low,1,630,78,2019-11-20,2019-11-25,89
1,2,CA-2019-100041,2019-11-20,2019-11-25,Standard Class,314.550,3,150.9840,Low,1,1016,78,2019-11-20,2019-11-25,89
2,3,CA-2019-100041,2019-11-20,2019-11-25,Standard Class,9.080,2,4.0860,Low,1,1081,78,2019-11-20,2019-11-25,89
3,4,CA-2019-100083,2019-11-24,2019-11-29,Standard Class,24.784,1,7.7450,Low,2,1001,138,2019-11-24,2019-11-29,289
4,5,CA-2019-100153,2019-12-13,2019-12-17,Standard Class,63.880,4,24.9132,Low,3,1463,421,2019-12-13,2019-12-17,333
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7258,7259,US-2020-169551,2020-07-07,2020-07-09,First Class,13.392,3,1.0044,Low,3315,1376,631,2020-07-07,2020-07-09,371
7259,7260,US-2020-169551,2020-07-07,2020-07-09,First Class,15.552,3,5.4432,Low,3315,1214,631,2020-07-07,2020-07-09,371
7260,7261,US-2020-169551,2020-07-07,2020-07-09,First Class,13.392,3,1.0044,Low,3316,1376,631,2020-07-07,2020-07-09,371
7261,7262,US-2020-169551,2020-07-07,2020-07-09,First Class,527.920,2,85.7870,Low,3315,1501,631,2020-07-07,2020-07-09,371
7262,7263,US-2020-169551,2020-07-07,2020-07-09,First Class,683.988,2,-113.9980,Low,3316,1650,631,2020-07-07,2020-07-09,371

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7263 entries, 0 to 7262
Data columns (total 15 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   order_id         7263 non-null   int64
 1   unique_order_no  7263 non-null   object
 2   order_date       7263 non-null   object
 3   ship_date        7263 non-null   object
 4   ship_mode        7263 non-null   object
 5   sales            7263 non-null   float64
 6   quantity         7263 non-null   int64
 7   profit           7263 non-null   float64
 8   Pack             7263 non-null   object
 9   return_id        7263 non-null   int64
 10  product_id       7263 non-null   int64
 11  customer_id      7263 non-null   int64
 12  order_key        7263 non-null   object
 13  ship_key         7239 non-null   object
 14  location_id      7263 non-null   int64
dtypes: float64(2), int64(6), object(7)
memory usage: 851.3+ KB

In [6]:
df['unit_price'] = df['sales']/df['quantity'].round(2)
df['COGS_per_unit'] = 0.6*df['unit_price']
df['total_COGS'] = df['COGS_per_unit']*df['quantity']
df['gross_margin'] = df['sales']-df['COGS_per_unit']
df['gross_margin_per'] = df['gross_margin']*100/df['sales']

In [7]:
df

,order_id,unique_order_no,order_date,ship_date,ship_mode,sales,quantity,profit,Pack,return_id,product_id,customer_id,order_key,ship_key,location_id,unit_price,COGS_per_unit,total_COGS,gross_margin,gross_margin_per
0,1,CA-2019-100041,2019-11-20,2019-11-25,Standard Class,4.910,1,2.3077,Low,1,630,78,2019-11-20,2019-11-25,89,4.910,2.9460,2.9460,1.9640,40.0
1,2,CA-2019-100041,2019-11-20,2019-11-25,Standard Class,314.550,3,150.9840,Low,1,1016,78,2019-11-20,2019-11-25,89,104.850,62.9100,188.7300,251.6400,80.0
2,3,CA-2019-100041,2019-11-20,2019-11-25,Standard Class,9.080,2,4.0860,Low,1,1081,78,2019-11-20,2019-11-25,89,4.540,2.7240,5.4480,6.3560,70.0
3,4,CA-2019-100083,2019-11-24,2019-11-29,Standard Class,24.784,1,7.7450,Low,2,1001,138,2019-11-24,2019-11-29,289,24.784,14.8704,14.8704,9.9136,40.0
4,5,CA-2019-100153,2019-12-13,2019-12-17,Standard Class,63.880,4,24.9132,Low,3,1463,421,2019-12-13,2019-12-17,333,15.970,9.5820,38.3280,54.2980,85.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7258,7259,US-2020-169551,2020-07-07,2020-07-09,First Class,13.392,3,1.0044,Low,3315,1376,631,2020-07-07,2020-07-09,371,4.464,2.6784,8.0352,10.7136,80.0
7259,7260,US-2020-169551,2020-07-07,2020-07-09,First Class,15.552,3,5.4432,Low,3315,1214,631,2020-07-07,2020-07-09,371,5.184,3.1104,9.3312,12.4416,80.0
7260,7261,US-2020-169551,2020-07-07,2020-07-09,First Class,13.392,3,1.0044,Low,3316,1376,631,2020-07-07,2020-07-09,371,4.464,2.6784,8.0352,10.7136,80.0
7261,7262,US-2020-169551,2020-07-07,2020-07-09,First Class,527.920,2,85.7870,Low,3315,1501,631,2020-07-07,2020-07-09,371,263.960,158.3760,316.7520,369.5440,70.0
7262,7263,US-2020-169551,2020-07-07,2020-07-09,First Class,683.988,2,-113.9980,Low,3316,1650,631,2020-07-07,2020-07-09,371,341.994,205.1964,410.3928,478.7916,70.0

In [ ]:
#time period comparison setup